<% layout('../layouts/boilerplate.ejs') -%>
    <h1>Aggiungi un nuovo campeggio:</h1>
    <form action="/campgrounds" method="post">
        <label for="title">Titolo:</label>
        <input id="title" name="title" type="text">
        <br>
        <label for="description">Descrizione:</label>
        <br>
        <textarea cols="50" rows="7" name="description" id="description"></textarea>
        <br>
        <label for="location">Località:</label>
        <input id="location" name="location" type="text">
        <label for="price">Prezzo:</label>
        <input id="price" name="price" type="number" min="0">
        <button>Invia</button>
    </form>
    <br>
    <button><a href="/campgrounds">Indietro!</a></button>
